.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gameTitle {
    font-size: 2rem;
    font-weight: bold;
}

.settingsContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem 0 1rem 0;
    gap: 10px;
}

.selectorBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chooseTitle{
    font-size: 1.2rem;
}

.parameterBox {
    font-size: 1rem;
    border-radius: 5px;
    padding: 2.5px 5px;
}

.startGameBtn {
    margin: 1rem 0 1rem 0;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #333;
    color: #FFF;
    border: #FFF 0.5px solid;
    cursor: pointer;
}