.langToggler {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	justify-self: center;
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: scale 0.3s ease;
	overflow: hidden;

	&:hover {
		scale: 1.1;
	}

	& > img {
		width: 45px;
		height: 25px;
		object-fit: cover;
	}
}
